.info {
  background-color: white;
  min-width: 8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.125rem solid black;
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Poppins, sans-serif;
  text-align: center;
}

.info h2 {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.info h3 {
  font-size: 1rem;
  line-height: 1.2;
  color: #4b4b4b;
  margin-top: 0;
}
